* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0,0,0,0.08);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    animation: slideDown 0.8s ease-out forwards;
}

.animate-up {
    opacity: 0;
    animation: slideUp 0.9s ease-out forwards;
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Poppins", "Segoe UI", sans-serif;
    cursor: default;
    margin: 80px;
}

.logo .j {
    color: black;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.logo span {
    display: inline-block;
    transition:
        transform 0.25s ease,
        color 0.25s ease,
        text-shadow 0.25s ease;
    color: black;
}

.logo span:hover {
    transform: translateY(-4px) scale(1.1);
    color: #00a6ff;
    text-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.menu {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 80px;
}

.menu a {
    text-decoration: none;
    color:rgb(131, 130, 130);
    font-size: 16px;
    position: relative;
    padding: 8px 14px;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu a:hover {
    color: #0099ff;
}

.menu li:hover {
    scale: calc(1.3);
}

.menu li {
    transition: 0.3s ease;
    position: relative;
}

.menu li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgb(137, 207, 240);
    border-radius: 50%;
    transform: translate(-50% , -50%);
    transition:
        width 0.35s ease,
        height 0.35s ease;
}

.menu li:hover::before {
    width: 120%;
    height: 180%;
}

.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 350px;
    gap: 80px;
}

.hero-text h1 {
    font-size: 60px;
    color: #111;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-text h1 span {
    color: #1e88e5;
}

.hero-text h2 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 200;
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-text p {
    margin: 20px 0 30px;
    color: #666;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-text {
    animation-delay: 0.4s;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn.primary{
    background: #1e88e5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.btn.primary:hover {
    background: #1565c0;
}

.btn.outline {
    border: 1px solid #1e88e5;
    color: #1e88e5;
    font-family: Arial, Helvetica, sans-serif;
}

.btn.outline:hover {
    background: #1e88e5;
    color: white;
}

.hero-image {
    width: 570px;
    border-radius: 20px;
    display: block;
    transition: 0.4s ease;
    animation-delay: 0.7s;
}

.social-bar {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 15px;

    animation-delay: 1s;
}

.social-bar a {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    color: #1e88e5;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;

    transition: 0.3s ease;
}

.social-bar a:hover {
    background: #1e88e5;
    color: white;
    transform: translateX(5px);
    box-shadow: 0 8px 20px rgba(30,136,229,0.4);
}

.social-bar a i {
    font-size: 24px;
}

.hero-visual {
    position: relative;
}

.bg-shape {
    position: absolute;
    width: 1000px;
    height: 1000px;

    background: radial-gradient(
        circle at top left,
        rgba(30,136,229,0.45) 0%,
        rgba(30,136,229,0.25) 45%,
        rgba(30,136,229,0.12) 65%,
        rgba(30,136,229,0.06) 80%,
        transparent 95%
    );

    border-radius: 50%;
    z-index: -1;
}


@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

html, body {
    overflow-y: hidden;
}